<!DOCTYPE html>
<html>
  <head>
    <title>Simple Interest Calculator</title>
  </head>
  <body>
    <h1><center>simple Interest Calculator</center></h1>
    <div class="container">
      <div class="input-wrapper">
        <div class="wrapper">
          <label for="principal">Principal:</label>
          <input type="text" name="a1" value="{{ a }}" />
        </div>
        <div class="wrapper">
          <label for="rate">Amount:</label>
          <input type="text" name="a2" value="{{ b }}" />
        </div>
        <div class="time">
            <label for="time">Time:</label>
        <div class="time-wrapper">
            <input type="text" name="a3" value="{{ c }}" />
        </div>
            <label for="result">Simple Interest:</label>
        <div class="result">
            <input type="text" name="a4" placeholder="result" value="{{ d }}">
        </div>
        <button type="submit">Calculate</button>
    
    </div>
  </body>
</html>